<div class='flex flex-col gap-6'>
  <p class='text-md text-pretty text-white/80'>
    Soy desarrollador full stack con sólidos conocimientos en TypeScript, React,
    Angular, Next.js, Astro y Express.js. He trabajado en proyectos como Chibi
    Link (acortador de URLs) y SOSdev (sitio de recursos para desarrolladores),
    donde adquirí experiencia en el uso de bases de datos con Prisma y Supabase,
    así como despliegues en Vercel.
  </p>
  <p class='text-md text-pretty text-white/80'>
    Me apasiona optimizar la experiencia visual y funcional de la web,
    manteniendo un enfoque en rendimiento y claridad de código.
  </p>
  <p class='text-md text-pretty text-white/80'>
    Mi meta es avanzar hacia una posición como arquitecto de software, mejorando
    continuamente mi dominio del inglés y habilidades de comunicación para
    colaborar eficazmente en equipo y entender las necesidades del cliente.
  </p>

  <img
    class='mt-12 mb-6 rounded shadow-2xl shadow-white/10'
    src='/javascript.webp'
    alt='certificado de javascript'
  />

  <img
    class='rounded shadow-2xl shadow-white/10'
    src='/responsive-web-design.webp'
    alt='certificado de javascript'
  />
</div>
