<div class='flex flex-col gap-6'>
  <p class='text-md text-pretty text-white/80'>
    Soy desarrollador full stack especializado en React y Angular, con sólidos
    conocimientos en Vue, Express.js, Laravel y Spring. Tengo experiencia en
    bases de datos como PostgreSQL, MySQL y MongoDB, así como en herramientas
    modernas como Prisma y Supabase. He trabajado en proyectos como Chibi Link
    (acortador de URLs) y SOSdev (sitio de recursos para desarrolladores), donde
    optimicé tanto la experiencia visual como funcional, priorizando el
    rendimiento y la claridad del código.
  </p>
  <p class='text-md text-pretty text-white/80'>
    Me apasiona optimizar la experiencia visual y funcional de la web,
    manteniendo un enfoque en rendimiento y claridad de código.
  </p>
  <p class='text-md text-pretty text-white/80'>
    Mi meta es avanzar hacia una posición como arquitecto de software, mejorando
    continuamente mi dominio del inglés y habilidades de comunicación para
    colaborar eficazmente en equipo y entender las necesidades del cliente.
  </p>

<div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-12">


    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/cloud-storage.webp'
      alt='certificado de cloud storage'
    />

    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/cloud-compute.webp'
      alt='certificado de cloud compute'
    />

    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/cloud-functions.webp'
      alt='certificado de cloud functions'
    />

    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/cloud-data.webp'
      alt='certificado de cloud data'
    />

    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/javascript.webp'
      alt='certificado de javascript'
    />

    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/responsive-web-design.webp'
      alt='certificado de javascript'
    />

    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/react.webp'
      alt='certificado de react'
    />

    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/angular.webp'
      alt='certificado de angular'
    />
    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/vue.webp'
      alt='certificado de vue'
    />
    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/testing-component.webp'
      alt='certificado de testing'
    />
    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/next.webp'
      alt='certificado de next.js'
    />

    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/architecture.webp'
      alt='certificado de arquitectura'
    />
    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/docker.webp'
      alt='certificado de docker'
    />
    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/java-spring.webp'
      alt='certificado de spring'
    />
    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/backend-node.webp'
      alt='certificado de express.js'
    />
    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/postgres.webp'
      alt='certificado de postgresql'
    />
    <img
      class='rounded shadow-2xl shadow-white/10'
      src='/certificates/nosql.webp'
      alt='certificado de nosql'
    />
  </div>
</div>
