<div class="flex flex-col gap-6">
<p class="text-md text-pretty text-white/80">
  Soy un desarrollador frontend autodidacta con 6 meses de experiencia
  aprendiendo tecnologías como JavaScript, React, Next.js, Astro y Tailwind. Mi
  mayor logro hasta ahora ha sido el desarrollo de SOSdev, un proyecto personal
  donde aprendí a manejar Next.js.
</p>
<p class="text-md text-pretty text-white/80">
  Me apasiona resolver problemas y el aspecto visual de la web. Estoy
  comprometido en seguir formándome para llegar a ser un desarrollador full
  stack. Valoro la eficiencia, el buen rendimiento en la web y mantener un
  código claro y legible.
</p>
<p class="text-md text-pretty text-white/80">
  A pesar de mi nivel A2 en inglés, continúo mejorándolo. Me considero empático
  y comunicativo, lo que me permite trabajar bien en equipo y entender las
  necesidades de los clientes.
</p>
</div>