<nav
  class='fixed top-0 left-0 right-0 flex justify-center text-sm p-4 gap-4 sm:gap-6 opacity-80 z-10'>
  <a href='#top'>Inicio</a>
  <a href='#sobre-mi'>Sobre mí</a>
  <a href='#proyectos'>Proyectos</a>
  <a href='#contacto'>Contacto</a>
</nav>
